# macOS
.DS_Store

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
local_settings.py
staticfiles/
media/

# Testing / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checking caches
.mypy_cache/
.pyre/
.pytype/

# Environment files
.env
.env.*


